body
 {
    font-size: 100px;
    padding: 1rem;
    width: 100%;
    background-color: hotpink;
    
}
.card1 {
    background-color: deeppink;
    color: antiquewhite;
    padding: 1rem;
    height: 2em;
}
.card2 {
    background-color: deeppink;
    color: antiquewhite;
    padding: 1rem;
    height: 2em;
}
.card3 {
    background-color: deeppink;
    color: antiquewhite;
    padding: 1rem;
    height: 2em;
}
.card4 {
    background-color: deeppink;
    color: antiquewhite;
    padding: 1rem;
    height: 2em;
}


