body
 {
    font-size: 100px;
    padding: 1rem;
    width: 100%;
    background-color: hotpink;
    
}
.card1 {
    background-color: rgb(255, 20, 235);
    color: antiquewhite;
    padding: 1rem;
    height: 2em;
}
.card2 {
    background-color: rgb(189, 65, 131);
    color: antiquewhite;
    padding: 1rem;
    height: 2em;
}
.card3 {
    background-color: rgb(255, 20, 184);
    color: antiquewhite;
    padding: 1rem;
    height: 2em;
}
.card4 {
    background-color: rgb(243, 130, 190);
    color: antiquewhite;
    padding: 1rem;
    height: 2em;
}

.cards { display: flex; }

@media screen and (max-width: 600px) {
  * { flex-direction: column; }
}

